/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 html {
    background-color: coral;
    height: 100%;
    margin: 0; 
    padding: 0;
 }

 body {
     background-color: black;
     height: 100%;
     margin: 0; 
     padding: 0;
 }

 p {
    padding-bottom: 15px;
    margin: 0;
}



 .app {
     background-color: aqua;
     height: 100%;
 }

 .header {
     display: block;
     background-color: #953255;
     height: 60px;
 }

 .content {
     display: block;
     background-color: blue;
     height: calc(100% - 120px);
     position: relative;
 }

 .footer {
     display: block;
     background-color: #953255;
     height: 60px;
     
     ;

 
 }




 .recipe_view {
    background-color: black;
    position: absolute;
    overflow: scroll;
    height: 100%;
 }

 .recipe_btn {
     background-color: yellow;
     overflow: hidden;
     position: relative;
     width: 100%;
     padding: 0; 
 }


 .left_recipe_view {
     background-color: #8EA59A;
     height: 100%;
     width: 50%;
     float: left;
     position: absolute;
 }

 .recipe_img {
     height: 100%;
     vertical-align: middle;
 }


 .right_recipe_view {
     background-color: #E2E6C6;
     width: 50%;
     float: right;  
 } 
 
 .recipe_text {
    padding: 10px; 
 }





